body {
    font-family: 'Open Sans', sans-serif;
}

/* navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ol {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
}

nav ol a {
    color: black;
    text-decoration: none;
}

/* navigation bar */
/* banenr container */
.banner-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

/* .banner-txt{
    width: 1440px;

} */
.banner-img {
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url('./images/Circle\ design.svg');
}

.btn {
    border-radius: 30px;
    padding: 10px;
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;

}
.btn1{
    color: #E02C6D;
    border: none;
    font-size: 13px;
    font-weight: 700;
    background-color:white;
    padding: 10px;
}
.button{
    padding: 10px;
    margin-left: 1044px;
    margin-top: 30px;

}

/* banenr container */

/* sponser container
 */
.sponser-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #FFF;
    margin-top: 100px;

}

.sponser-container img {
    width: 55.051px;
    height: 31.065px;

}

/* Cards */
.bold-font {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.Cards-container {
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.card {
    width: 300px;
    height: 429px;
    border-radius: 5px;
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.item {
    font-size: 26px;
    font-weight: 500;

}

.price {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    font-weight: 400;
}

.item-desc {
    font-size: 13px;
}



/* meadia quary */
/* for mobile device */
@media screen and (max-width:576px) {

    nav {
        flex-direction: column;

        padding: 0px;
    }

    nav ol {
        margin-right: 35px;
        gap: 20px;
    }

    .banner-container {
        width: auto;
        flex-direction: column-reverse;
    }

    .sponser-container {
        gap: 20px;
        flex-wrap: wrap;
    }

    .Cards-container {


        grid-template-columns: repeat(1, 1fr);

    }

}

/* for tablet  */
@media screen and (max-width:992px) {

    nav {
        flex-direction: column;

    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .Cards-container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


}