body {
    font-family: 'Open Sans', sans-serif;
}

/* navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav ol {
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 14px;
}

nav ol a {
    color: black;
    text-decoration: none;
}

/* navigation bar */
/* banenr container */
.banner-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
}

/* .banner-txt{
    width: 1440px;

} */
.banner-img {
    background-size: contain;
    background-repeat: no-repeat;

    background-image: url('./images/Circle\ design.svg');
}

.btn {
    border-radius: 30px;
    padding: 10px;
    background: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

/* banenr container */

/* sponser container
 */
.sponser-container {
    width: 90% ;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #FFF;
    margin-top: 100px;

}

.sponser-container img {
    width: 55.051px;
    height: 31.065px;

}

/* meadia quary */
/* for mobile device */
@media screen and (max-width:576px) {

    nav {
        flex-direction: column;

        padding: 0px;
    }

    nav ol {
        margin-right: 35px;
        gap: 20px;
    }

    .banner-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .sponser-container {
        gap: 20px;
        flex-wrap: wrap;
    }

}

/* for tablet  */
@media screen and (max-width:992px) {

    nav {
        flex-direction: column;

    }

    .banner-container {
        flex-direction: column-reverse;
    }

}